<!-- <app-first-component></app-first-component>
<app-cnc1></app-cnc1>
<app-cnc2></app-cnc2>

<h1 class="text-success">Welcome Here...</h1> -->

<!-- <h1 appChangeMe myColor="blue">Hello my lovely viewers</h1>
<h1 appChangeMe myColor="pink" myBgColor="black">Hello </h1>
<h1 appChangeMe myBgColor="orange">Welcome to my world</h1> -->

<!-- <app-reactiveform></app-reactiveform>
<app-datalist></app-datalist> -->
<!-- 
<div appCustomDirective="lightblue">
    Hover over me to change my background color!
  </div> -->


 <app-prent></app-prent> 
 <app-anotherparent></app-anotherparent>

 <ng-template #loadingMsg>
  <p>Loading.....</p>
 </ng-template>

 <div *ngIf="isLoading"  else loadingMsg>
  <p>Loaded the content..!</p>
 </div>