<div class="child-container">
    <h1>This is a child componetn..!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio soluta iste dolorum voluptate pariatur, consectetur ullam earum repellendus aperiam qui eaque aliquid fugiat placeat quo error, necessitatibus impedit, voluptatum corporis?</p>
    <ng-content></ng-content>
</div>


<div class="child-container">
    <h1>I am the second child container</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio soluta iste dolorum voluptate pariatur, consectetur ullam earum repellendus aperiam qui eaque aliquid fugiat placeat quo error, necessitatibus impedit, voluptatum corporis?</p>
    <ng-content></ng-content>
</div>
